<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestBotService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8081/DESKTOP-N3D8F06/hello/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestBotService"
                contract="TestBotSrv.ITestBotService" name="BasicHttpBinding_ITestBotService" />
        </client>
    </system.serviceModel>
</configuration>